<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <!-- 在遍历对象的时候，如果只是获取一个值，那么获取的是value -->
            <li v-for="item in info">{{item}}</li>
        </ul>
        <!-- 2.获取key和value(value,key) -->
        <ul>
            <li v-for="(value,key) in info">{{value}}-{{key}}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                info: {
                    name: "andy",
                    age: 17,
                    height: 188
                }
            }
        })
    </script>
</body>

</html>