<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="radio" name="sex" id="" value="男" v-model="sex">男
        <input type="radio" name="sex" id="" value="女" v-model="sex">女
        <!-- 两个输入框里的name值相同是为了让只能选择一个 -->
        <h3>您选择的性别是：{{sex}}</h3>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                message: "你好",
                sex: "男"
            }
        })
    </script>
</body>

</html>